<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="repository_location" value="svn://server/"/>
    <add key="last_revision" value="0"/>
    <!--
    can be either (case doesn't matter):
      Console
      TXT
      XML
      XMLTransform
      RSS
    -->
    <add key="output_type" value="RSS"/>
    <add key="service_interval" value="15"/>
  </appSettings>
</configuration>