<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="svn2tfs.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v2.0.50727" sku="Client"/>
    </startup>
    <userSettings>
        <svn2tfs.My.MySettings>
            <setting name="lastTfsUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="lastTfsURL" serializeAs="String">
                <value />
            </setting>
            <setting name="lastTfsCollection" serializeAs="String">
                <value />
            </setting>
            <setting name="lastTfsProject" serializeAs="String">
                <value />
            </setting>
            <setting name="lastSvnUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="lastSvnUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="lstTfsDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="lastUserMappingFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="lastToRevision" serializeAs="String">
                <value>HEAD</value>
            </setting>
            <setting name="lastFromRevision" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="lastReplayAllActions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lastOverrideFirstAction" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastDeleteTfsProject" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hasAcceptedAgreement" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="userCustomTemporaryFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="customTemporaryFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="lastTfsDirectory" serializeAs="String">
                <value />
            </setting>
        </svn2tfs.My.MySettings>
    </userSettings>
</configuration>
